body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: rgb(242, 242, 242);
}

.form{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 20vw;
    padding: 20px;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.form input{
    font-family: sans-serif;
    height: 25px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #F5F5F5;
}

.submit{
    margin-top: 20px;
    height: 40px;
    background-color: #0F469A;
    color: white;
    border: none;
    font-family: sans-serif !important;
    font-size: 16px;
    border-radius: 10px;
}